*{
  box-sizing:border-box;
}

body{

  margin:0;

  background:
  radial-gradient(
    circle at top,
    #17104a,
    #050817 60%
  );

  color:white;

  font-family:Arial, Helvetica, sans-serif;

}


#root{
  min-height:100vh;
}



.app-container{

  width:100%;

  min-height:100vh;

  display:flex;

  justify-content:center;

  padding-bottom:80px;

}



.main-content{

  width:100%;

  max-width:390px;

  padding:15px;

}



/* make everything closer together */

.main-content > *{

  margin-bottom:15px;

}



/* bottom navigation */

.bottom-nav{

  position:fixed;

  bottom:10px;

  left:50%;

  transform:translateX(-50%);


  width:95%;

  max-width:390px;

  height:70px;


  background:
  rgba(10,10,30,.95);


  display:flex;

  justify-content:space-around;

  align-items:center;


  border-radius:25px;


  border:1px solid rgba(255,255,255,.1);


  z-index:100;


}



.bottom-nav button{

  border:none;

  background:none;

  color:white;

  font-size:22px;

  opacity:.6;

}



.bottom-nav button.active{


  opacity:1;


  background:
  rgba(0,200,255,.25);


  border-radius:50%;


  width:55px;

  height:55px;


  box-shadow:
  0 0 25px #00eaff;


}