.balance-card {

  width:100%;

  padding:20px;

  margin:15px auto;


  border-radius:28px;


  background:

  linear-gradient(
    135deg,
    #203b85,
    #35145f
  );


  text-align:center;


  box-shadow:

  0 0 35px rgba(80,120,255,.25);


}



/* Your Balance text */

.balance-card > p:first-child {

  margin:0;

  color:#c8c8e8;

  font-size:15px;

}



/* Main GLX number */

.balance-card h1 {

  margin:8px 0 0;


  font-size:46px;


  font-weight:900;


  color:white;


  line-height:1;

}



/* GLX text */

.balance-card span {

  display:block;


  margin-top:5px;


  color:#00eaff;


  font-size:22px;


  font-weight:800;

}



/* Mining reward box */

.reward-box {


  margin-top:18px;


  padding:14px;


  border-radius:18px;


  background:

  rgba(255,255,255,.08);


}



/* Mining Reward text */

.reward-box p {


  margin:0;


  color:#b9b9c8;


  font-size:14px;


}



/* Reward number */

.reward-box strong {


  display:block;


  margin-top:8px;


  color:#00ffae;


  font-size:26px;


  font-weight:900;


}