.bottom-nav{


position:fixed;

bottom:0;

left:50%;

transform:translateX(-50%);


width:100%;

max-width:500px;


height:85px;


background:

rgba(10,15,30,.85);


backdrop-filter:blur(15px);


border-top:

1px solid rgba(255,255,255,.1);


display:flex;


justify-content:space-around;


align-items:center;


z-index:100;



}



.bottom-nav button{


background:none;

border:none;

color:#777;


font-size:22px;


display:flex;

flex-direction:column;

align-items:center;


gap:5px;


}



.bottom-nav span{


font-size:12px;

}



.bottom-nav .active{


color:#00c6ff;


}



.mine-button-nav{


width:75px;

height:75px;


margin-top:-45px;


border-radius:50%!important;


background:

linear-gradient(
135deg,
#008cff,
#00eaff
)!important;


color:white!important;


box-shadow:

0 0 30px #008cff;


}



.mine-button-nav span{


font-size:12px;

}