.invite-card {

  width:100%;

  margin:15px auto;


  padding:18px;


  background:

  linear-gradient(
    145deg,
    #111827,
    #080d1c
  );


  border-radius:28px;


  border:

  1px solid rgba(255,255,255,.1);


  box-shadow:

  0 0 25px rgba(0,150,255,.12);

}



/* Title */

.invite-card h2 {

  margin:0 0 15px;


  color:white;


  font-size:21px;


  font-weight:900;

}



/* Invite code */

.invite-code {


  padding:14px;


  border-radius:18px;


  text-align:center;


  background:

  rgba(255,255,255,.08);


  border:

  1px solid rgba(255,255,255,.1);


  color:#00eaff;


  font-size:18px;


  font-weight:900;


  margin-bottom:15px;

}



/* Buttons */

.invite-buttons {


  display:flex;


  gap:10px;


}



.invite-buttons button {


  flex:1;


  height:48px;


  border:none;


  border-radius:16px;


  color:white;


  font-size:14px;


  font-weight:800;


  background:


  linear-gradient(
    135deg,
    #0066ff,
    #00c6ff
  );


  cursor:pointer;


}



.invite-buttons button:last-child {


  background:


  linear-gradient(
    135deg,
    #d946ef,
    #ec4899
  );


}