.mine-button {

  width:90%;

  max-width:300px;

  padding:18px;

  margin-top:20px;

  border:none;

  border-radius:20px;


  font-size:20px;

  font-weight:800;


  color:white;


  background:

  linear-gradient(
    135deg,
    #8065ff,
    #4320c8
  );


  cursor:pointer;


  box-shadow:

  0 0 25px rgba(120,90,255,.7);


  transition:.3s;

}



.mine-button:hover{

  transform:translateY(-4px);

}



.mine-button:disabled{

  opacity:.6;

  cursor:not-allowed;

  box-shadow:none;

}



.mine-button.claim{

  background:

  linear-gradient(
    135deg,
    #00e676,
    #00994d
  );

}