.profile-card {

  width:100%;

  margin:20px auto;


  padding:22px;


  border-radius:30px;


  background:

  linear-gradient(
    145deg,
    #21145a,
    #0b1228
  );


  border:

  1px solid rgba(255,255,255,.12);


  box-shadow:

  0 0 30px rgba(120,90,255,.2);

}



/* Top profile */

.profile-top {

  display:flex;

  align-items:center;

  gap:15px;

  margin-bottom:15px;

}



.profile-avatar {


  width:60px;


  height:60px;


  border-radius:50%;


  display:flex;


  align-items:center;


  justify-content:center;


  font-size:30px;


  background:

  linear-gradient(
    135deg,
    #00eaff,
    #7c4dff
  );


  box-shadow:

  0 0 20px rgba(0,200,255,.4);

}



.profile-top h2 {


  margin:0;


  font-size:22px;


  font-weight:900;


}



.profile-top p {


  margin:5px 0 0;


  color:#aaa;


}



/* Divider */

.profile-card hr {


  border:none;


  height:1px;


  background:

  rgba(255,255,255,.12);


  margin:18px 0;


}



/* Section titles */

.profile-card h3 {


  margin-bottom:12px;


  font-size:19px;


}



/* Items */

.profile-item {


  padding:13px;


  margin-bottom:10px;


  border-radius:18px;


  background:


  rgba(255,255,255,.08);


  font-size:15px;


  color:white;


}



/* Bottom button */

.profile-card button {


  width:100%;


  height:55px;


  margin-top:18px;


  border:none;


  border-radius:20px;


  color:white;


  font-size:16px;


  font-weight:800;


  background:


  rgba(255,255,255,.12);


}