.stats-container{

display:flex;

gap:12px;

margin-top:25px;

width:100%;

}



.stat-card{

flex:1;

height:140px;


background:

linear-gradient(
145deg,
rgba(40,35,90,.65),
rgba(20,20,45,.8)
);


border:

1px solid rgba(255,255,255,.12);


border-radius:22px;


display:flex;

flex-direction:column;

align-items:center;

justify-content:center;


box-shadow:

0 0 25px rgba(80,80,255,.12);


}



.stat-icon{

font-size:28px;

margin-bottom:10px;

}



.stat-card h3{

margin:0;

font-size:25px;

font-weight:900;

color:white;

}



.stat-card p{

margin-top:8px;

font-size:13px;

color:#a9a9c0;

}



/* mobile fix */

@media(max-width:400px){

.stat-card{

height:125px;

}


.stat-card h3{

font-size:22px;

}


.stat-card p{

font-size:11px;

}

}