.wallet-card {

  margin-top:20px;

  padding:25px;


  border-radius:28px;


  background:

  linear-gradient(
    145deg,
    rgba(70,50,150,.45),
    rgba(15,15,35,.85)
  );


  border:

  1px solid rgba(255,255,255,.12);


  box-shadow:

  0 0 35px rgba(120,90,255,.2);

}



.wallet-card h2 {

  text-align:center;

  font-size:28px;

  margin-bottom:10px;

}



.wallet-card > p {

  text-align:center;

  color:#aaa8c5;

  margin-bottom:25px;

}




.wallet-item {

  display:flex;

  align-items:center;

  gap:15px;


  padding:18px;


  margin-bottom:15px;


  border-radius:20px;


  background:

  rgba(255,255,255,.07);


}



.wallet-item:first-letter {

  font-size:25px;

}



.wallet-item h3 {

  margin:0;

  font-size:17px;

}



.wallet-item span {

  color:#8f95b5;

  font-size:13px;

}



.wallet-card button {

  width:100%;

  margin-top:15px;

  padding:16px;


  border:none;

  border-radius:18px;


  color:white;

  font-size:16px;

  font-weight:bold;


  background:

  rgba(255,255,255,.15);


  cursor:not-allowed;

}